<a href="https://colab.research.google.com/github/allront/GoogleDev/blob/master/E2E_Platform_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Welcome to the Abacus.AI Developer Workshop
This workbook provides you with a hands on environment to take an existing python model and deploy it into Abacus.AI

## Prerequisites

- [Sign up](https://abacus.ai/app/signup?signupToken=python_models) for an Abacus.AI Account
- Once your account is created, navigate to the [API Keys Dashboard](https://abacus.ai/app/profile/apikey) and generate an API key to authenticate your ApiClient


---

## How-to guide for custom Python data transforms and models
This notebook provides you with a hands on environment to build and deploy custom python models in the Abacus.AI environment. Custom here refers to both the data transformations required to build a model and the training process used to construct a model from data. Having the custom logic hosted in Abacus.AI then allows for the process to be run automatically to refresh the model as new data arrives and to host the model for the generation of online or batch predictions. In addition, it allows for additional features like monitoring input drift, model performance and other ML Ops requirements.

1. Install the Abacus.AI library.

In [1]:
!pip install abacusai

Collecting abacusai
  Downloading abacusai-0.35.6.tar.gz (3.4 MB)
     |████████████████████████████████| 3.4 MB 14.5 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from abacusai) (21.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from abacusai) (2.23.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from abacusai) (1.3.5)
Collecting fastavro
  Downloading fastavro-1.4.10-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 41.4 MB/s
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->abacusai) (3.0.8)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->abacusai) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->abacusai) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->abacusai) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->abacusai) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->abacusai) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->abacusai) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->abacusai) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->abacusai) (3.0.4)
Building wheels for collected packages: abacusai
  Building wheel for abacusai (setup.py) ... done
  Created wheel for abacusai: filename=abacusai-0.35.6-py3-none-any.whl size=129797 sha256=1484ca8d8cda0d203ddfe2c066eefa53a069b274b8cd3126d296ecfe805dbc33
  Stored in directory: /root/.cache/pip/wheels/aa/60/94/edcada60b9ae0594ce18962ffb805edbdef3bb3d8d17906374
Successfully built abacusai
Installing collected packages: fastavro, abacusai
Successfully installed abacusai-0.35.6 fastavro-1.4.10

2. Add your Abacus.AI [API Key](https://abacus.ai/app/profile/apikey) generated using the API dashboard as follows:

In [2]:
#@title Abacus.AI API Key

api_key = '019ac703191640968db2f9b8f3f99f2e'  #@param {type: "string"}

3. Import the Abacus.AI library and instantiate a client.

In [3]:
from abacusai import ApiClient, ApiException
client = ApiClient(api_key)

## 1. Create a Project

In this notebook, we're going to see how to use python to customize models in Abacus. We will cover custom data transforms, model training and prediction handling. Projects that will be hosting a custom model needed to be created with the `PYTHON_MODEL` use case. Note that custom python data transforms can be used in any kind of project and like any other feature group can be shared across projects. However, custom training algorithms and prediction functions are enabled by this use case.

In [4]:
project = client.create_project(name='Demo Python Model', use_case='PYTHON_MODEL')

## 2. Creating Datasets

Abacus.AI can read datasets directly from File blob storage

We are going to use a single dataset for this project.
- [Concrete Strength](https://s3.amazonaws.com/abacusai.exampledatasets/predicting/concrete_measurements.csv)

### Add the datasets to Abacus.AI

Using the Create Dataset API, we can tell Abacus.AI the public S3 URI of where to find the datasets.

In [5]:
# if the dataset already exists, skip creation
try: 
  concrete_dataset = client.describe_dataset(client.describe_feature_group_by_table_name('concrete_strength').dataset_id)
except ApiException: # dataset not found
  concrete_dataset = client.create_dataset_from_file_connector(
      name='Concrete Strength',
      table_name='concrete_strength',
      location='s3://abacusai.exampledatasets/predicting/concrete_measurements.csv')
  concrete_dataset.wait_for_inspection()

### Load the dataset so we can build and test the transform.

Most of the time it is easiest to develop custom transformations on your local machine. It makes iteration, inspection and debugging easier and often you can do it directly in a notebook environment. To enable simple local development you can use the Abacus.AI client to load your dataset as a pandas dataframe. This tends to work well if your dataset is under `100MB` but for datasets that get much larger you will likely want to construct a sampled feature group for development.

Here we are working with a fairly small dataset so can easily load it into memory. The first block fetches the feature group corresponding to the dataset (datasets are used to move data into Abacus.AI, feature groups are used to consume data for various operations). It initiates a materialization of the feature group to generate a snapshot, waits for it to be ready and then loads it as a pandas dataframe.

In [6]:
concrete_feature_group = concrete_dataset.describe_feature_group()
if not concrete_feature_group.list_versions():
  concrete_feature_group.create_version()
concrete_feature_group.wait_for_materialization()

concrete_df = concrete_feature_group.load_as_pandas()
concrete_df[:10]

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28.0,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28.0,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270.0,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365.0,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360.0,44.30
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90.0,47.03
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365.0,43.70
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28.0,36.45
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28.0,45.85
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28.0,39.29

#### Custom Data Transform
We are going to transform the dataset so that flyash is no longer a feature but instead all the other values are transformed according to whether they have `flyash > 0` or not.

The example is not entirely realistic and it is certainly feasible to achieve the same result using SQL. However, the point is to illustrate that you are free to transform the dataset using the full functionality of python and its data frameworks. Here we are using pandas but you can use a wide range of standard python libraries to manipulate the data. Additionally, you can bundle resources with your code, for example small maps or tables, that can be accessed by your function to implement the transform.

Note that we test the function locally by running it against the dataframe loaded from the feature group.

In [7]:
def transform_concrete(concrete_dataset):
  import pandas as pd
  feature_df = concrete_dataset.drop(['flyash'], axis=1)
  no_flyash = feature_df[concrete_dataset.flyash == 0.0]
  flyash = feature_df[concrete_dataset.flyash > 0.0]
  return pd.concat([no_flyash - no_flyash.assign(age=0).mean(), flyash - flyash.assign(age=0).mean()])

concrete_by_flyash_df = transform_concrete(concrete_df)
concrete_by_flyash_df[:10]

,cement,slag,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,225.962191,-100.110247,-24.616784,-1.555654,66.64258,-88.853004,28.0,43.218216
1,225.962191,-100.110247,-24.616784,-1.555654,81.64258,-88.853004,28.0,25.118216
2,18.462191,42.389753,41.383216,-4.055654,-41.35742,-170.853004,270.0,3.498216
3,18.462191,42.389753,41.383216,-4.055654,-41.35742,-170.853004,365.0,4.278216
4,-115.437809,32.289753,5.383216,-4.055654,5.04258,60.646996,360.0,7.528216
5,-48.037809,13.889753,41.383216,-4.055654,-41.35742,-94.853004,90.0,10.258216
6,65.962191,-5.110247,41.383216,-4.055654,-41.35742,-170.853004,365.0,6.928216
7,65.962191,-5.110247,41.383216,-4.055654,-41.35742,-170.853004,28.0,-0.321784
8,-48.037809,13.889753,41.383216,-4.055654,-41.35742,-94.853004,28.0,9.078216
9,160.962191,-100.110247,41.383216,-4.055654,-41.35742,-170.853004,28.0,2.518216

### Registering Python Functions

Now that we have a working transform the next step is to register it with Abacus.AI to allow it to run the function when required by workflows. For simple self-contained functions we can just pass the function to the client and it will build a suitable resource to ship the python code to Abacus.AI. For more complicated functions and in cases where additional resources are required you can instead build an archive and add it to the registration function.

Registering the function involves supplying the source artifact, the name of the function implementing the transform and a list of required input feature groups. These feature groups will be passed as dataframe arguments to the functions. Optionally, you can also supply configuration options as keywork arguments that can alter the behavior of the function. For example, the same function may be used to construct two different feature groups differing only in the keyword arguments.

Note, that Abacus.AI will ensure that the function is operating on the latest versions of the input feature groups.

In [8]:
concrete_flyash = client.create_feature_group_from_function(
    table_name='concrete_by_flyash',
    function_source_code=transform_concrete,
    function_name='transform_concrete',
    input_feature_groups=['concrete_strength'])

In [9]:
concrete_flyash.create_version()
concrete_flyash.wait_for_materialization()
concrete_by_flyash_df = concrete_flyash.load_as_pandas()

### Custom Model
Now we will define a custom model trained on this flyash partitioned data. A custom training function is similar in many ways to a custom transform. The main difference being instead of returning a new dataframe with the transformed data it returns an object containing the trained model. It is required that object returned should be pickleable by the standard python `pickle` library. However, the model is free to serialize additional data to local disk in the current working directory. The contents of the working directory will be made available at prediction time. There is support for supplying an initialization function along with prediction function that will receive the unpickled model object and transform it based on data loaded from disk to use at prediction. This will be covered in more detail later.

To illustrate that the training can be customized arbitrarily we will train a composite model that depending on the age of the concrete uses a linear model on quantized features or a GBDT trained on raw inputs.

In [10]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.5-cp37-none-manylinux1_x86_64.whl (76.6 MB)
     |████████████████████████████████| 76.6 MB 1.2 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.8)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)
Installing collected packages: catboost
Successfully installed catboost-1.0.5

Just like with data transforms we can test our function locally to ensure it works on the data frame as expected and that it is building a reasonable model. Notice that the model object we return is tuple comprising
- columns used as inputs to the sub models
- the quantile transform
- linear model
- catboost model

Since this tuple can be pickled we do not need to bother writing anything to local disk. Also we will be able to use the default identity initialization function which will just return this tuple unmodified at prediction time.

In [11]:
def train(training_dataset):
  # set the seed for reproduceable results
  import numpy as np
  import logging
  np.random.seed(5)

  X = training_dataset.drop(['csMPa'], axis=1)
  y = training_dataset.csMPa
  recent = training_dataset.age < 10
  from sklearn.preprocessing import QuantileTransformer
  from sklearn.linear_model import LinearRegression
  qt = QuantileTransformer(n_quantiles=20)
  recent_model = LinearRegression()
  _ = recent_model.fit(qt.fit_transform(X[recent]), y[recent])
  logging.info(f'Linear model R^2 = {recent_model.score(qt.transform(X[recent]), y[recent])}')

  from catboost import Pool, CatBoostRegressor
  train_pool = Pool(X[~recent], y[~recent])
  older_model = CatBoostRegressor(iterations=20, depth=2, loss_function='RMSE')
  _ = older_model.fit(train_pool)
  metrics = older_model.eval_metrics(train_pool, ['RMSE'])
  old_r2 = 1 - metrics['RMSE'][-1]**2 / y[~recent].var()
  logging.info(f'Catboost model R^2 = {old_r2}')

  return (X.columns, qt, recent_model, older_model)

local_model = train(concrete_by_flyash_df)

Learning rate set to 0.5
0:	learn: 12.7627412	total: 46.9ms	remaining: 891ms
1:	learn: 11.5585084	total: 47.3ms	remaining: 426ms
2:	learn: 10.3223491	total: 48ms	remaining: 272ms
3:	learn: 9.3247540	total: 48.7ms	remaining: 195ms
4:	learn: 8.5430952	total: 49.3ms	remaining: 148ms
5:	learn: 8.0969450	total: 49.9ms	remaining: 117ms
6:	learn: 7.7701204	total: 50.8ms	remaining: 94.3ms
7:	learn: 7.4330845	total: 51.4ms	remaining: 77.2ms
8:	learn: 7.1440607	total: 52ms	remaining: 63.5ms
9:	learn: 6.9879983	total: 52.5ms	remaining: 52.5ms
10:	learn: 6.8566891	total: 53.1ms	remaining: 43.4ms
11:	learn: 6.7297646	total: 53.7ms	remaining: 35.8ms
12:	learn: 6.6135734	total: 54.2ms	remaining: 29.2ms
13:	learn: 6.4855813	total: 54.8ms	remaining: 23.5ms
14:	learn: 6.3975280	total: 55.5ms	remaining: 18.5ms
15:	learn: 6.2595309	total: 56ms	remaining: 14ms
16:	learn: 6.1893574	total: 56.6ms	remaining: 9.99ms
17:	learn: 6.1383127	total: 57.2ms	remaining: 6.36ms
18:	learn: 6.0691477	total: 57.7ms	remaining: 3.04ms
19:	learn: 6.0274770	total: 58.5ms	remaining: 0us

### Prediction Function

To actually use this model for predictions we need to tell the service how to evaluate a new input against the returned model object. This function could be as simple as calling `predict()` on a scikit model compliant model. However, it will usually be the case that there will be some translation of the request data into model inputs prior to the final invocation. This is to match any feature engineering / transformation done inside the training function. Keep in mind any feature transformation done in feature group transformations will be handled automatically by the service for batch predictions.

In the example we are building there is even more complexity because the model is a composite model built on two partitions of the data so the prediction function needs to dispatch the input to the right model based on one of the input features.

We can follow the same pattern of testing locally to ensure that the prediction function works as expected. If the model requires an initialization function that loads data from disk it would also be good to test that locally.

In [12]:
def predict(model, query):
  # abacusai.get_client().get_feature_group().lookup(...)
  columns, qt, recent_model, older_model = model
  import pandas as pd
  X = pd.DataFrame({c: [query[c]] for c in columns})
  if X.age[0] < 10:
    y = recent_model.predict(qt.transform(X))[0]
  else:
    y = older_model.predict(X.values.reshape(-1))
  return {'csMPa': y}

for _, r in concrete_by_flyash_df[concrete_by_flyash_df.age < 10][:5].iterrows():
  print(predict(local_model, r.to_dict()), r['csMPa'])

for _, r in concrete_by_flyash_df[concrete_by_flyash_df.age > 10][:5].iterrows():
  print(predict(local_model, r.to_dict()), r['csMPa'])

{'csMPa': -31.754124749801928} -28.711784452296826
{'csMPa': -5.324797742032466} 1.8282155477031736
{'csMPa': -4.377726654712582} -1.6917844522968295
{'csMPa': -23.147157848108044} -21.721784452296827
{'csMPa': -16.71201923334116} -10.511784452296826
{'csMPa': 28.83326303740123} 43.21821554770317
{'csMPa': 28.83326303740123} 25.118215547703173
{'csMPa': 9.069791024635736} 3.4982155477031753
{'csMPa': 9.069791024635736} 4.278215547703169
{'csMPa': -0.352310531807305} 7.528215547703169

### Register the Model
We now put together the feature group, the training function and the prediction function as a new Abacus model. Like with custom feature groups the model has to specify the feature groups required for training which will be passed as arguments to the train function.

In [13]:
model = client.create_model_from_functions(project_id=project, 
                                   train_function=train, 
                                   predict_function=predict, 
                                   training_input_tables=['concrete_by_flyash'])

Wait for the model to finish training and then deploy the model to use for prediction.

In [14]:
model.wait_for_training()
print(model.latest_model_version.get_training_logs(stdout=True, stderr=True)[0])
deployment_token = client.create_deployment_token(project).deployment_token
deployment = client.create_deployment(model_id=model)
deployment.wait_for_deployment()

FunctionLogs(function='train',
  stats={'start': '2022-04-26T17:01:12.447225', 'end': '2022-04-26T17:01:13.704309'},
  stdout='''
      Learning rate set to 0.5
      0:	learn: 12.7627412	total: 46.3ms	remaining: 879ms
      1:	learn: 11.5585084	total: 46.6ms	remaining: 419ms
      2:	learn: 10.3223491	total: 46.9ms	remaining: 266ms
      3:	learn: 9.3247540	total: 47.1ms	remaining: 189ms
      4:	learn: 8.5430952	total: 47.4ms	remaining: 142ms
      5:	learn: 8.0969450	total: 47.7ms	remaining: 111ms
      6:	learn: 7.7701204	total: 48ms	remaining: 89.1ms
      7:	learn: 7.4330845	total: 48.3ms	remaining: 72.4ms
      8:	learn: 7.1440607	total: 48.6ms	remaining: 59.4ms
      9:	learn: 6.9879983	total: 48.9ms	remaining: 48.9ms
      10:	learn: 6.8566891	total: 49.2ms	remaining: 40.2ms
      11:	learn: 6.7297646	total: 49.5ms	remaining: 33ms
      12:	learn: 6.6135734	total: 49.8ms	remaining: 26.8ms
      13:	learn: 6.4855813	total: 50.2ms	remaining: 21.5ms
      14:	learn: 6.3975280	total: 50.5ms	remaining: 16.8ms
      15:	learn: 6.2595309	total: 50.8ms	remaining: 12.7ms
      16:	learn: 6.1893574	total: 51.1ms	remaining: 9.02ms
      17:	learn: 6.1383127	total: 51.4ms	remaining: 5.71ms
      18:	learn: 6.0691477	total: 51.7ms	remaining: 2.72ms
      19:	learn: 6.0274770	total: 51.9ms	remaining: 0us
''',
  stderr=,
  exception=None)

Deployment(deployment_id='1c2fba6bc',
  name='Demo Python Model Model Deployment',
  status='ACTIVE',
  description='',
  deployed_at='2022-04-26T17:03:52+00:00',
  created_at='2022-04-26T17:01:53+00:00',
  project_id='14131e65dc',
  model_id='d465395a',
  model_version='ea679b774',
  feature_group_id=None,
  feature_group_version=None,
  calls_per_second=5,
  auto_deploy=True,
  regions=[{'name': 'Us East 1', 'value': 'us-east-1'}],
  error=None,
  refresh_schedules=None,
  feature_group_export_config=None)

Now we can run predictions on Abacus and compare against predictions from the local model.

In [15]:
# locally trained
for _, r in concrete_by_flyash_df[concrete_by_flyash_df.age < 10][:5].iterrows():
  print(predict(local_model, r.to_dict()), r['csMPa'])

print(' Is equal to ')

# remotely trained
for _, r in concrete_by_flyash_df[concrete_by_flyash_df.age < 10][:5].iterrows():
  print(client.predict(deployment_token, deployment.deployment_id, r.to_dict()), r['csMPa'])

{'csMPa': -31.754124749801928} -28.711784452296826
{'csMPa': -5.324797742032466} 1.8282155477031736
{'csMPa': -4.377726654712582} -1.6917844522968295
{'csMPa': -23.147157848108044} -21.721784452296827
{'csMPa': -16.71201923334116} -10.511784452296826
 Is equal to
{'csMPa': -31.754124749801928} -28.711784452296826
{'csMPa': -5.324797742032466} 1.8282155477031736
{'csMPa': -4.377726654712582} -1.6917844522968295
{'csMPa': -23.147157848108044} -21.721784452296827
{'csMPa': -16.71201923334116} -10.511784452296826

### Setup Batch Predictions

We can setup a new dataset to feed a batch prediction job. Abacus will run the prediction dataset through the feature transformation function and then apply the custom model to generate predictions for the uploaded data. Keep in mind the input to the model will be what is generated by transform. The inputs to the model are included in the batch prediction download along with model outputs.

In [16]:
try: 
  prediction_dataset = client.describe_dataset(client.describe_feature_group_by_table_name('concrete_strength_prediction_input').dataset_id)
except ApiException: # dataset not found
  prediction_dataset = client.create_dataset_from_file_connector(
      name='Concrete Strength Prediction Input',
      table_name='concrete_strength_prediction_input',
      location='s3://abacusai.exampledatasets/predicting/concrete_measurements.csv')
  prediction_dataset.wait_for_inspection()

Now we create a new batch prediction template and set its input to point to the prediction dataset we created. This will configure it to use the latest version of the dataset as the input for each run.

In [17]:
batch_prediction = client.create_batch_prediction(deployment.deployment_id, table_name='concrete_batch_prediction_output')
batch_prediction.set_dataset_remap({
    concrete_dataset.dataset_id: prediction_dataset.dataset_id
})

BatchPrediction(batch_prediction_id='1397e1ffdc',
  created_at='2022-04-26T17:05:38+00:00',
  name='Demo Python Model Model Deployment Batch',
  deployment_id='1c2fba6bc',
  file_connector_output_location=None,
  global_prediction_args=None,
  database_connector_id=None,
  database_output_configuration=None,
  explanations=False,
  file_output_format='csv',
  connector_type='FEATURE_GROUP',
  legacy_input_location=None,
  feature_group_table_name='concrete_batch_prediction_output',
  csv_input_prefix='',
  csv_prediction_prefix='prediction_',
  csv_explanations_prefix='explanation_',
  batch_inputs=PredictionInput(feature_group_dataset_ids=['6bd98d280'],
  dataset_id_remap={'6bd98d280': '119236166'},
  feature_groups=[PredictionFeatureGroup(feature_group_id='d319b69c6',
  dataset_type='CUSTOM_TABLE',
  default=True,
  required=False)],
  datasets=[]),
  latest_batch_prediction_version=None,
  refresh_schedules=None)

Finally, we initiate a run of the batch prediction template. This is the actual call that initiates the prediction job. It will handle any required transformation on the input dataaset to match what was done at training time and then apply the custom model deployed to each row of input produced by the custom data transform.

In [18]:
batch_prediction_run = batch_prediction.start()
batch_prediction_run.wait_for_predictions()
bp_output = batch_prediction.describe_output_feature_group()
bp_output.wait_for_materialization().load_as_pandas()

,cement,slag,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa,prediction_result
0,225.962191,-100.110247,-24.616784,-1.555654,66.642580,-88.853004,28.0,43.218216,{'csMPa': 28.83326303740123}
1,225.962191,-100.110247,-24.616784,-1.555654,81.642580,-88.853004,28.0,25.118216,{'csMPa': 28.83326303740123}
2,18.462191,42.389753,41.383216,-4.055654,-41.357420,-170.853004,270.0,3.498216,{'csMPa': 9.069791024635736}
3,18.462191,42.389753,41.383216,-4.055654,-41.357420,-170.853004,365.0,4.278216,{'csMPa': 9.069791024635736}
4,-115.437809,32.289753,5.383216,-4.055654,5.042580,60.646996,360.0,7.528216,{'csMPa': -0.352310531807305}
...,...,...,...,...,...,...,...,...,...
1025,23.427802,69.081250,20.092241,-2.926078,-139.784052,6.173491,28.0,6.885539,{'csMPa': 7.950792561920522}
1026,35.327802,74.081250,4.192241,0.073922,-102.284052,-15.926509,28.0,9.625539,{'csMPa': 7.135638582558334}
1027,81.127802,-41.918750,20.592241,1.573922,-154.484052,29.173491,28.0,-3.474461,{'csMPa': 2.001998505187093}
1028,-92.572198,97.481250,17.292241,-2.726078,-79.984052,-4.226509,28.0,-10.954461,{'csMPa': -5.08792331559537}
1029,19.827802,58.581250,25.192241,-0.226078,-107.884052,-22.726509,28.0,-2.254461,{'csMPa': 6.052480097739211}

### Attach Refresh Schedules

As a final step we can attach refresh schedules to various objects to ensure that they are updated regularly without any manual intervention. This allows the custom model to run with the same level of automation as models generated internally by the service.

In [19]:
concrete_dataset.create_refresh_policy('0 4 * * 1')
prediction_dataset.create_refresh_policy('0 4 * * 1')
model.create_refresh_policy('0 6 * * 1')
batch_prediction.create_refresh_policy('0 8 * * 1')

RefreshPolicy(refresh_policy_id='23c1156be',
  name='Demo Python Model Model Deployment Batch',
  cron='0 8 * * 1',
  next_run_time='2022-05-02T08:00:00+00:00',
  created_at='2022-04-26T17:10:14+00:00',
  refresh_type='BATCHPRED',
  project_id='14131e65dc',
  dataset_ids=None,
  model_ids=None,
  deployment_ids=None,
  prediction_metric_ids=None,
  paused=False)